@charset "UTF-8";
/*reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
}

/*reset end */
body, html {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
  font-size: 16px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #727171;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.clearfix {
  clear: both;
}

.header {
  height: 70px;
  background-color: #ffffff;
  top: -30px;
  padding: 0.3rem 0;
}

.logo {
  position: relative;
  z-index: 30;
  display: inline;
  width: 100%;
}
.logo a {
  display: inline-block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background: url(../image/logo.svg) no-repeat;
  width: 185px;
  height: 58px;
  background-size: contain;
}

.menu {
  display: inline-block;
  float: right;
  padding-top: 1.35rem;
}
.menu .pages {
  display: inline-block;
  float: right;
  height: 30px;
}
.menu .pages div {
  float: left;
  padding-left: 2rem;
}
.menu .pages div a {
  font-size: 1rem;
  color: #727171;
  text-decoration: none;
}
.menu .pages div a::after {
  content: "";
  opacity: 0;
  width: 0;
  margin: 0 auto;
  height: 3px;
  margin-top: 1.55rem;
  display: block;
  transition: width 0.8s;
  -webkit-transition: width 0.8s;
}
.menu .pages div a:hover {
  color: #009fa8;
}
.menu .pages div a:hover::after {
  opacity: 1;
  width: 100%;
  transition: width 0.8s;
  -webkit-transition: width 0.8s;
}
.menu .language {
  float: right;
  display: inline-block;
  padding-left: 1.8rem;
}
.menu .language div {
  float: left;
  padding-left: 0.5rem;
}
.menu .language div a {
  font-size: 1rem;
  color: gray;
  text-decoration: none;
}
.menu .language div a:hover {
  color: #009fa8;
}

section {
  padding: 20rem 0;
}

.footer {
  position: relative;
  z-index: 10;
  background: #ffffff;
  padding: 3rem 0;
}

.vic-logo-news {
  float: left;
  width: 50%;
}
.vic-logo-news .logo {
  padding-top: 0;
  padding-bottom: 1.2rem;
}
.vic-logo-news .vic-news p {
  font-size: 0.9rem;
  color: #727171;
  line-height: 1.8;
}

.menu-copy {
  width: 50%;
}
.menu-copy .pages {
  height: 30px;
}
.menu-copy p {
  padding-top: 2rem;
  float: right;
  color: #727171;
}

.mandy {
  color: white;
}

.mandy2 {
  color: red;
}
