@charset "UTF-8";
/*reset start */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
}

/*reset end */
/* Custom CSS */
body, html {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
  font-size: 16px;
  background: #7DAFD4;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
}

.clearfix {
  clear: both;
}

.font-en {
  font-family: "Lobster Two", cursive;
}

.day {
  background: #7DAFD4;
}

.night {
  background: #3A64A1;
}

/* header */
.header-container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  width: 200px;
}

/* Menu */
#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#menu li a {
  color: #000;
}

#menu li.active a:hover {
  color: #000;
}

#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
  padding: 9px 18px;
}

#menu li.active a {
  color: #fff;
}

.pp-scrollable {
  overflow-x: hidden;
}

#loading-bg {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #73cacf;
  opacity: 1;
  -webkit-transition: opacity 1s 0s;
  transition: opacity 1s 0s;
}
