@charset "UTF-8";
/*reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
}

/*reset end */
/* Custom CSS */
body, html {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
}

body.lock {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  letter-spacing: 2px;
  line-height: 2;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.clearfix {
  clear: both;
}

.font-en {
  font-family: "Lobster", cursive;
}

.day {
  background: #7DAFD4;
}

.night {
  background: #3A64A1;
}

/* loading */
#loading-box {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #73cacf;
  opacity: 1;
  -webkit-transition: opacity 1s 0s;
  transition: opacity 1s 0s;
}

/* loading end */
/* header */
header {
  position: absolute;
  width: 100%;
}

.header-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  position: relative;
}

.logo-wrapper, .menu-icon-wrapper {
  display: block;
  filter: drop-shadow(0px 6px 0px rgba(85, 150, 202, 0.8));
}
.logo-wrapper a, .logo-wrapper .menu-icon, .menu-icon-wrapper a, .menu-icon-wrapper .menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/icon/logo-bg.svg) no-repeat;
  width: 180px;
  height: 78px;
  background-size: contain;
}
.logo-wrapper a img, .logo-wrapper .menu-icon img, .menu-icon-wrapper a img, .menu-icon-wrapper .menu-icon img {
  z-index: 120;
  width: 100%;
  padding: 10px 18px 0px 18px;
}

.menu-icon-wrapper .menu-icon {
  display: inline-block;
  background: url(../images/icon/menu.svg) no-repeat;
  width: 68px;
  height: 68px;
}
.menu-icon-wrapper .menu-icon img {
  padding: 20px 10px;
  transform: rotateZ(90deg) translate3d(0, 0, 0);
  -webkit-transform: rotateZ(90deg) translate3d(0, 0, 0);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.header-box {
  width: 100%;
  height: 6rem;
}

/* header end */
/* menu */
.menu-bgw-box {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  opacity: 0.75;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.menu-bgw-box.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-contant-box {
  position: fixed;
  z-index: 120;
  top: 0;
  right: -1px;
  width: 25rem;
  height: 100vh;
  display: block;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.menu-contant-box.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 350ms 200ms cubic-bezier(0.32, -0.05, 0.44, 1.41);
  transition: all 350ms 200ms cubic-bezier(0.32, -0.05, 0.44, 1.41);
}
.menu-contant-box > div {
  position: absolute;
}
.menu-contant-box .menu-img-up, .menu-contant-box .menu-img-down {
  width: 7.75rem;
  margin-top: -1px;
}
.menu-contant-box .menu-img-up img, .menu-contant-box .menu-img-down img {
  width: 100%;
}
.menu-contant-box .menu-img-down {
  width: 10rem;
  bottom: -1px;
  right: 0px;
}
.menu-contant-box .menu-img-down ul {
  position: relative;
}
.menu-contant-box .menu-img-down ul .menu-hitballoon {
  opacity: 0;
  position: absolute;
  width: 8rem;
  bottom: 20px;
  right: 20px;
}
.menu-contant-box .menu-img-down ul .menu-hitballoon.animate__fadeInUp:root {
  --animate-delay: 2s;
}
.menu-contant-box .menu-text {
  height: 100vh;
}
.menu-contant-box .menu-text ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 2.5rem;
}
.menu-contant-box .menu-text ul li {
  padding-bottom: 1.5rem;
}
.menu-contant-box .menu-text ul li h5 {
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
}
.menu-contant-box .menu-text ul li h5 span {
  font-size: 36px;
  font-weight: normal;
}
.menu-contant-box .menu-text ul .menu-pages a {
  text-decoration: none;
  display: flex;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu-contant-box .menu-text ul .menu-pages a.fa-arrow-circle-right:before {
  display: none;
}
.menu-contant-box .menu-text ul .menu-pages a.fa-arrow-circle-right:after {
  content: "";
  font-size: 20px;
  color: #ffffff;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
.menu-contant-box .menu-text ul .menu-pages a:hover {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu-contant-box .menu-text ul .menu-pages a:hover h5 {
  color: #F5E69A;
}
.menu-contant-box .menu-text ul .menu-pages a:hover.fa-arrow-circle-right:after {
  color: #F5E69A;
}
.menu-contant-box .menu-text ul .menu-line img {
  width: 12rem;
}
.menu-contant-box .menu-text ul .menu-community h5 {
  padding-bottom: 0.8rem;
}
.menu-contant-box .menu-text ul .menu-community .fb-icon {
  display: inline-block;
}
.menu-contant-box .menu-text ul .menu-community .ig-icon {
  float: left;
}

.fb-icon a svg, .ig-icon a svg {
  width: 3.8rem;
  fill: #ffffff;
  margin-right: 0.8rem;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fb-icon a svg:hover, .ig-icon a svg:hover {
  fill: #F5E69A;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* menu end */
/* nav */
.line-dotted {
  border-top: 2px dotted #4D3224;
  opacity: 0.5;
  position: relative;
  bottom: 15px;
}

/* nav end */
/* home */
.section {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.big-title-box {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 80px;
  width: 100%;
  z-index: 10;
}
.big-title-box img {
  max-width: 280px;
  filter: drop-shadow(0px 6px 0px rgba(85, 150, 202, 0.8));
}

.home-air-wrapper, .home-city-wrapper {
  margin-top: -80px;
  position: relative;
}

.home-city-wrapper {
  margin-top: -40px;
}

.home-day-box, .home-night-box, .home-day-car, .home-day-car2, .home-night-car, .home-night-car2 {
  display: none;
}
.home-day-box.active, .home-night-box.active, .home-day-car.active, .home-day-car2.active, .home-night-car.active, .home-night-car2.active {
  display: block;
}

.home-day-box, .home-night-box, .home-city-box, .about-city-box {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
.home-day-box .home-day-sun, .home-day-box .home-night-moon-box, .home-day-box .home-day-cloud, .home-day-box .home-night-star, .home-night-box .home-day-sun, .home-night-box .home-night-moon-box, .home-night-box .home-day-cloud, .home-night-box .home-night-star, .home-city-box .home-day-sun, .home-city-box .home-night-moon-box, .home-city-box .home-day-cloud, .home-city-box .home-night-star, .about-city-box .home-day-sun, .about-city-box .home-night-moon-box, .about-city-box .home-day-cloud, .about-city-box .home-night-star {
  width: 1400px;
  height: auto;
  position: absolute;
  left: calc(50% - 700px);
  top: 0;
}
.home-day-box .home-day-sun img, .home-day-box .home-night-moon-box img, .home-day-box .home-day-cloud img, .home-day-box .home-night-star img, .home-night-box .home-day-sun img, .home-night-box .home-night-moon-box img, .home-night-box .home-day-cloud img, .home-night-box .home-night-star img, .home-city-box .home-day-sun img, .home-city-box .home-night-moon-box img, .home-city-box .home-day-cloud img, .home-city-box .home-night-star img, .about-city-box .home-day-sun img, .about-city-box .home-night-moon-box img, .about-city-box .home-day-cloud img, .about-city-box .home-night-star img {
  width: 100%;
}
.home-day-box .home-day-sun, .home-day-box .home-night-moon, .home-night-box .home-day-sun, .home-night-box .home-night-moon, .home-city-box .home-day-sun, .home-city-box .home-night-moon, .about-city-box .home-day-sun, .about-city-box .home-night-moon {
  top: 100px;
  padding: 0 0 0 60px;
}
.home-day-box .home-day-sun img, .home-day-box .home-night-moon img, .home-night-box .home-day-sun img, .home-night-box .home-night-moon img, .home-city-box .home-day-sun img, .home-city-box .home-night-moon img, .about-city-box .home-day-sun img, .about-city-box .home-night-moon img {
  width: 70px;
}
.home-day-box .home-night-moon, .home-day-box .home-moon-light, .home-night-box .home-night-moon, .home-night-box .home-moon-light, .home-city-box .home-night-moon, .home-city-box .home-moon-light, .about-city-box .home-night-moon, .about-city-box .home-moon-light {
  position: absolute;
  right: 0px;
  height: 100px;
  z-index: 5;
}
.home-day-box .home-moon-light, .home-night-box .home-moon-light, .home-city-box .home-moon-light, .about-city-box .home-moon-light {
  right: -20px;
  top: 90px;
  z-index: 0;
}
.home-day-box .home-moon-light img, .home-night-box .home-moon-light img, .home-city-box .home-moon-light img, .about-city-box .home-moon-light img {
  width: 100px;
}

.home-day-cloud-an2 ul:nth-of-type(2) {
  position: relative;
  left: -90%;
  height: 300px;
}

.home-city-box, .about-city-box, .skills-sea-box, .works-mountain-box {
  height: 400px;
}
.home-city-box .home-bluecity, .home-city-box .home-city, .home-city-box .about-city, .home-city-box .about-cloud, .home-city-box .about-bcity, .home-city-box .skills-seabed, .home-city-box .skills-seasand, .home-city-box .skills-coral, .home-city-box .works-mountain, .home-city-box .works-b-tree, .about-city-box .home-bluecity, .about-city-box .home-city, .about-city-box .about-city, .about-city-box .about-cloud, .about-city-box .about-bcity, .about-city-box .skills-seabed, .about-city-box .skills-seasand, .about-city-box .skills-coral, .about-city-box .works-mountain, .about-city-box .works-b-tree, .skills-sea-box .home-bluecity, .skills-sea-box .home-city, .skills-sea-box .about-city, .skills-sea-box .about-cloud, .skills-sea-box .about-bcity, .skills-sea-box .skills-seabed, .skills-sea-box .skills-seasand, .skills-sea-box .skills-coral, .skills-sea-box .works-mountain, .skills-sea-box .works-b-tree, .works-mountain-box .home-bluecity, .works-mountain-box .home-city, .works-mountain-box .about-city, .works-mountain-box .about-cloud, .works-mountain-box .about-bcity, .works-mountain-box .skills-seabed, .works-mountain-box .skills-seasand, .works-mountain-box .skills-coral, .works-mountain-box .works-mountain, .works-mountain-box .works-b-tree {
  width: 2000px;
  height: auto;
  position: absolute;
  left: calc(50% - 1000px);
  bottom: 0;
}
.home-city-box .home-bluecity img, .home-city-box .home-city img, .home-city-box .about-city img, .home-city-box .about-cloud img, .home-city-box .about-bcity img, .home-city-box .skills-seabed img, .home-city-box .skills-seasand img, .home-city-box .skills-coral img, .home-city-box .works-mountain img, .home-city-box .works-b-tree img, .about-city-box .home-bluecity img, .about-city-box .home-city img, .about-city-box .about-city img, .about-city-box .about-cloud img, .about-city-box .about-bcity img, .about-city-box .skills-seabed img, .about-city-box .skills-seasand img, .about-city-box .skills-coral img, .about-city-box .works-mountain img, .about-city-box .works-b-tree img, .skills-sea-box .home-bluecity img, .skills-sea-box .home-city img, .skills-sea-box .about-city img, .skills-sea-box .about-cloud img, .skills-sea-box .about-bcity img, .skills-sea-box .skills-seabed img, .skills-sea-box .skills-seasand img, .skills-sea-box .skills-coral img, .skills-sea-box .works-mountain img, .skills-sea-box .works-b-tree img, .works-mountain-box .home-bluecity img, .works-mountain-box .home-city img, .works-mountain-box .about-city img, .works-mountain-box .about-cloud img, .works-mountain-box .about-bcity img, .works-mountain-box .skills-seabed img, .works-mountain-box .skills-seasand img, .works-mountain-box .skills-coral img, .works-mountain-box .works-mountain img, .works-mountain-box .works-b-tree img {
  width: 100%;
}
.home-city-box .home-bluecity-up, .home-city-box .about-cloud-up, .about-city-box .home-bluecity-up, .about-city-box .about-cloud-up, .skills-sea-box .home-bluecity-up, .skills-sea-box .about-cloud-up, .works-mountain-box .home-bluecity-up, .works-mountain-box .about-cloud-up {
  z-index: 10;
}
.home-city-box .home-city-up, .home-city-box .about-city-up, .about-city-box .home-city-up, .about-city-box .about-city-up, .skills-sea-box .home-city-up, .skills-sea-box .about-city-up, .works-mountain-box .home-city-up, .works-mountain-box .about-city-up {
  z-index: 15;
  bottom: -2px;
}

.home-my-box {
  position: absolute;
  top: 100px;
  z-index: 20;
  left: 240px;
}
.home-my-box img {
  width: 11rem;
}

.home-road-box, .about-road-box, .about-seasand-bg, .works-mountain-bg {
  position: relative;
}
.home-road-box .home-ZebraRoad, .about-road-box .home-ZebraRoad, .about-seasand-bg .home-ZebraRoad, .works-mountain-bg .home-ZebraRoad {
  background: url(../images/home/home-ZebraRoad.svg) no-repeat;
  width: 433px;
  height: 160px;
  background-size: contain;
  position: absolute;
  left: 140px;
}

.home-day-car, .home-day-car2, .home-night-car, .home-night-car2 {
  position: absolute;
  z-index: 15;
  top: -70px;
}
.home-day-car ul, .home-day-car2 ul, .home-night-car ul, .home-night-car2 ul {
  position: relative;
  height: 120px;
  width: 2000px;
}
.home-day-car ul li, .home-day-car2 ul li, .home-night-car ul li, .home-night-car2 ul li {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-day-car ul li .home-car-up01, .home-day-car ul li .home-car-up04, .home-day-car2 ul li .home-car-up01, .home-day-car2 ul li .home-car-up04, .home-night-car ul li .home-car-up01, .home-night-car ul li .home-car-up04, .home-night-car2 ul li .home-car-up01, .home-night-car2 ul li .home-car-up04 {
  width: 150px;
}
.home-day-car ul li .home-scooter-up02, .home-day-car2 ul li .home-scooter-up02, .home-night-car ul li .home-scooter-up02, .home-night-car2 ul li .home-scooter-up02 {
  width: 80px;
}
.home-day-car ul li .home-car-up03, .home-day-car2 ul li .home-car-up03, .home-night-car ul li .home-car-up03, .home-night-car2 ul li .home-car-up03 {
  width: 120px;
}

.home-night-car ul li .home-car-up01, .home-night-car ul li .home-car-up04 {
  width: 190px;
}
.home-night-car ul li .home-scooter-up02 {
  width: 120px;
}
.home-night-car ul li .home-car-up03 {
  width: 160px;
}

.home-day-car2, .home-night-car2 {
  top: -35px;
}
.home-day-car2 ul li, .home-night-car2 ul li {
  opacity: 0;
}
.home-day-car2 ul li .home-car-down01, .home-night-car2 ul li .home-car-down01 {
  width: 170px;
}
.home-day-car2 ul li .home-car-down02, .home-night-car2 ul li .home-car-down02 {
  width: 200px;
}
.home-day-car2 ul li .home-scooter-down03, .home-night-car2 ul li .home-scooter-down03 {
  width: 100px;
}

.home-night-car2 ul li .home-car-down01 {
  width: 230px;
}
.home-night-car2 ul li .home-car-down02 {
  width: 260px;
}
.home-night-car2 ul li .home-scooter-down03 {
  width: 160px;
}

.arrow-pages-wrapper {
  position: fixed;
  top: 50vh;
  left: 0;
  z-index: 20;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.arrow-pages-wrapper .arrow-pages-left, .arrow-pages-wrapper .arrow-pages-right {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.arrow-pages-wrapper .arrow-pages-left:hover, .arrow-pages-wrapper .arrow-pages-right:hover {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.arrow-pages-wrapper .arrow-pages-left a, .arrow-pages-wrapper .arrow-pages-right a {
  display: block;
}
.arrow-pages-wrapper .arrow-pages-left a:hover .arrow-pages-style path, .arrow-pages-wrapper .arrow-pages-right a:hover .arrow-pages-style path {
  fill: #F5E69A;
}
.arrow-pages-wrapper .arrow-pages-left a svg, .arrow-pages-wrapper .arrow-pages-right a svg {
  width: 35px;
  filter: drop-shadow(0px 3px 0px #4d3224);
}
.arrow-pages-wrapper .arrow-pages-left a svg path, .arrow-pages-wrapper .arrow-pages-right a svg path {
  fill: #fff;
  stroke: #4d3224;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}
.arrow-pages-wrapper .arrow-pages-left:hover {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

.pp-scrollable .arrow-pages-wrapper {
  top: 50%;
}

/* home end */
/* about */
.about-contant-wrapper, .skills-contant-wrapper, .works-title-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}

.title-box {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.title-box .title-line-dashed {
  border-top: 1.5px dashed #ffffff;
  width: 2.5rem;
  position: relative;
  top: 50%;
  margin: 0 0.8rem;
}
.title-box .title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-box .title-text h4 {
  padding-top: 10px;
  font-size: 24px;
  color: #ffffff;
}
.title-box .title-text h4:before {
  padding-right: 0.4rem;
}
.title-box .title-text img {
  width: 10rem;
}

.about-AirCamera-box, .skills-tortoise-box {
  position: absolute;
  right: 4rem;
}
.about-AirCamera-box svg, .skills-tortoise-box svg {
  width: 15rem;
}

.about-contant-box {
  margin: 2rem 6rem 0 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-contant-box .about-img {
  width: 18rem;
  position: relative;
  display: flex;
  align-items: center;
}
.about-contant-box .about-img .about-my-photo {
  position: absolute;
  top: 5px;
  z-index: 5;
}
.about-contant-box .about-img img {
  width: 100%;
}
.about-contant-box .about-text {
  padding-left: 1rem;
  max-width: 40rem;
}
.about-contant-box .about-text p {
  font-size: 18px;
  color: #ffffff;
}
.about-contant-box .about-text p span {
  font-size: 28px;
  margin-bottom: 1rem;
}

.about-road-box {
  padding-top: 3.4rem;
}

.about-my-box, .about-people-box {
  position: absolute;
  top: -40px;
  z-index: 20;
  left: 0px;
  width: 100%;
  opacity: 0;
}
.about-my-box img, .about-people-box img {
  width: 8.8rem;
}

.about-people-box {
  top: -90px;
  z-index: 15;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  padding-right: 16rem;
  opacity: 1;
}
.about-people-box img {
  width: 3rem;
}

.about-city-box {
  margin-top: -2rem;
  height: 300px;
}
.about-city-box .about-bcity {
  width: 1400px;
  left: calc(50% - 700px);
}
.about-city-box .about-cloud img {
  filter: drop-shadow(0px -6px 0px rgba(85, 150, 202, 0.8));
}

/* about end */
/* skills */
.skills-tortoise-box {
  right: 10rem;
}
.skills-tortoise-box img {
  width: 8.7rem;
}

.skills-fishs-wrapper {
  position: absolute;
  width: 100%;
  top: 10%;
}
.skills-fishs-wrapper img {
  width: 20rem;
}

.skills-contant-box {
  margin-top: 4rem;
  width: 100%;
  display: flex;
}

.skills-design-box, .skills-code-box {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.skills-design-box .skills-design-img, .skills-design-box .skills-code-img, .skills-code-box .skills-design-img, .skills-code-box .skills-code-img {
  position: relative;
}
.skills-design-box .skills-design-img .design-svg, .skills-design-box .skills-design-img .code-svg, .skills-design-box .skills-code-img .design-svg, .skills-design-box .skills-code-img .code-svg, .skills-code-box .skills-design-img .design-svg, .skills-code-box .skills-design-img .code-svg, .skills-code-box .skills-code-img .design-svg, .skills-code-box .skills-code-img .code-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-right: 1rem;
}
.skills-design-box .skills-design-img .design-svg img, .skills-design-box .skills-design-img .code-svg img, .skills-design-box .skills-code-img .design-svg img, .skills-design-box .skills-code-img .code-svg img, .skills-code-box .skills-design-img .design-svg img, .skills-code-box .skills-design-img .code-svg img, .skills-code-box .skills-code-img .design-svg img, .skills-code-box .skills-code-img .code-svg img {
  width: 8rem;
}
.skills-design-box .skills-design-img .design-svg p, .skills-design-box .skills-design-img .code-svg p, .skills-design-box .skills-code-img .design-svg p, .skills-design-box .skills-code-img .code-svg p, .skills-code-box .skills-design-img .design-svg p, .skills-code-box .skills-design-img .code-svg p, .skills-code-box .skills-code-img .design-svg p, .skills-code-box .skills-code-img .code-svg p {
  color: #ffffff;
  margin-top: 10px;
}
.skills-design-box .skills-design-img .design-svg p:after, .skills-design-box .skills-design-img .code-svg p:after, .skills-design-box .skills-code-img .design-svg p:after, .skills-design-box .skills-code-img .code-svg p:after, .skills-code-box .skills-design-img .design-svg p:after, .skills-code-box .skills-design-img .code-svg p:after, .skills-code-box .skills-code-img .design-svg p:after, .skills-code-box .skills-code-img .code-svg p:after {
  content: ">";
  display: inline-block;
}
.skills-design-box .skills-design-img .design-svg p:before, .skills-design-box .skills-design-img .code-svg p:before, .skills-design-box .skills-code-img .design-svg p:before, .skills-design-box .skills-code-img .code-svg p:before, .skills-code-box .skills-design-img .design-svg p:before, .skills-code-box .skills-design-img .code-svg p:before, .skills-code-box .skills-code-img .design-svg p:before, .skills-code-box .skills-code-img .code-svg p:before {
  content: "<";
  display: inline-block;
}
.skills-design-box .skills-design-img .design-svg, .skills-design-box .skills-code-img .design-svg, .skills-code-box .skills-design-img .design-svg, .skills-code-box .skills-code-img .design-svg {
  padding-left: 2rem;
  padding-top: 1rem;
}
.skills-design-box .skills-design-img .skills-bubble, .skills-design-box .skills-code-img .skills-bubble, .skills-code-box .skills-design-img .skills-bubble, .skills-code-box .skills-code-img .skills-bubble {
  width: 14rem;
}
.skills-design-box .skills-design-text, .skills-design-box .skills-code-text, .skills-code-box .skills-design-text, .skills-code-box .skills-code-text {
  color: #ffffff;
}
.skills-design-box .skills-design-text h3, .skills-design-box .skills-code-text h3, .skills-code-box .skills-design-text h3, .skills-code-box .skills-code-text h3 {
  font-size: 28px;
}
.skills-design-box .skills-design-text h3:before, .skills-design-box .skills-code-text h3:before, .skills-code-box .skills-design-text h3:before, .skills-code-box .skills-code-text h3:before {
  content: "";
  display: inline-block;
  border-top: 1.5px dashed #ffffff;
  width: 20px;
  position: relative;
  bottom: 0.5rem;
  margin-right: 10px;
}
.skills-design-box .skills-design-text .design-text, .skills-design-box .skills-design-text .code-text, .skills-design-box .skills-code-text .design-text, .skills-design-box .skills-code-text .code-text, .skills-code-box .skills-design-text .design-text, .skills-code-box .skills-design-text .code-text, .skills-code-box .skills-code-text .design-text, .skills-code-box .skills-code-text .code-text {
  padding-left: 2rem;
}
.skills-design-box .skills-design-text .design-text li, .skills-design-box .skills-design-text .code-text li, .skills-design-box .skills-code-text .design-text li, .skills-design-box .skills-code-text .code-text li, .skills-code-box .skills-design-text .design-text li, .skills-code-box .skills-design-text .code-text li, .skills-code-box .skills-code-text .design-text li, .skills-code-box .skills-code-text .code-text li {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 2;
}
.skills-design-box .skills-design-text .code-text, .skills-design-box .skills-code-text .code-text, .skills-code-box .skills-design-text .code-text, .skills-code-box .skills-code-text .code-text {
  display: flex;
  flex-wrap: wrap;
}

.skills-code-box {
  padding-top: 4rem;
}

.skills-sea-box {
  position: relative;
  bottom: -5px;
}
.skills-sea-box .skills-seabed {
  bottom: 8rem;
}
.skills-sea-box .skills-seasand {
  bottom: 0px;
  z-index: 10;
}
.skills-sea-box .skills-coral {
  display: flex;
  justify-content: space-between;
  bottom: 4rem;
  z-index: 10;
}
.skills-sea-box .skills-coral img {
  width: 18rem;
}
.skills-sea-box .skills-my-box {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 4rem;
}
.skills-sea-box .skills-my-box img {
  width: 10rem;
}

/* skills end */
/* works */
.works-bird-box {
  width: 2.5rem;
  position: absolute;
  left: calc(50% + 6rem);
  bottom: 2.2rem;
  z-index: 5;
}

.works-mountain-wrapper {
  margin-top: -7.5rem;
}
.works-mountain-wrapper .works-mountain-box {
  height: 300px;
  position: relative;
  bottom: -6px;
}
.works-mountain-wrapper .works-mountain-box .skills-seasand {
  bottom: 0px;
  z-index: 10;
}
.works-mountain-wrapper .works-mountain-box .works-my-box {
  position: absolute;
  width: 100%;
  z-index: 15;
  bottom: 16px;
}
.works-mountain-wrapper .works-mountain-box .works-my-box img {
  width: 5rem;
}

/* works end */
@media only screen and (max-width: 768px) {
  #pp-nav.nav-position {
    left: 0px;
    right: 0px;
    display: block;
    max-width: 180px;
    margin: auto;
  }
}
.open-menu-icon-an .menu-icon img, .menu-home-hoverAn .menu-icon img, .menu-about-hoverAn .menu-icon img, .menu-skills-hoverAn .menu-icon img, .menu-works-hoverAn .menu-icon img, .menu-contact-hoverAn .menu-icon img {
  transform: rotateZ(180deg) translate3d(0, 0, 0);
  -webkit-transform: rotateZ(180deg) translate3d(0, 0, 0);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-home-hoverAn .menu-icon img, .menu-about-hoverAn .menu-icon img, .menu-skills-hoverAn .menu-icon img, .menu-works-hoverAn .menu-icon img, .menu-contact-hoverAn .menu-icon img {
  transform: rotateZ(225deg);
  -webkit-transform: rotateZ(225deg);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.menu-home-hoverAn.menu-about-hoverAn img, .menu-about-hoverAn.menu-about-hoverAn img, .menu-skills-hoverAn.menu-about-hoverAn img, .menu-works-hoverAn.menu-about-hoverAn img, .menu-contact-hoverAn.menu-about-hoverAn img {
  transform: rotateZ(270deg);
  -webkit-transform: rotateZ(270deg);
}
.menu-home-hoverAn.menu-skills-hoverAn img, .menu-about-hoverAn.menu-skills-hoverAn img, .menu-skills-hoverAn.menu-skills-hoverAn img, .menu-works-hoverAn.menu-skills-hoverAn img, .menu-contact-hoverAn.menu-skills-hoverAn img {
  transform: rotateZ(315deg);
  -webkit-transform: rotateZ(315deg);
}
.menu-home-hoverAn.menu-works-hoverAn img, .menu-about-hoverAn.menu-works-hoverAn img, .menu-skills-hoverAn.menu-works-hoverAn img, .menu-works-hoverAn.menu-works-hoverAn img, .menu-contact-hoverAn.menu-works-hoverAn img {
  transform: rotateZ(355deg);
  -webkit-transform: rotateZ(355deg);
}
.menu-home-hoverAn.menu-contact-hoverAn img, .menu-about-hoverAn.menu-contact-hoverAn img, .menu-skills-hoverAn.menu-contact-hoverAn img, .menu-works-hoverAn.menu-contact-hoverAn img, .menu-contact-hoverAn.menu-contact-hoverAn img {
  transform: rotateZ(390deg);
  -webkit-transform: rotateZ(390deg);
}

.home-day-sun-an img {
  -webkit-animation: turn-An 16s linear infinite;
  animation: turn-An 16s linear infinite;
}

@keyframes turn-An {
  from {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: rotateZ(-360deg) translate3d(0, 0, 0);
    transform: rotateZ(-360deg) translate3d(0, 0, 0);
  }
}
.home-car-up-an li {
  -webkit-animation: home-car-up-An 12s linear infinite;
  animation: home-car-up-An 12s linear infinite;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.home-car-up-an li:nth-child(2) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
.home-car-up-an li:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.home-car-up-an li:nth-child(4) {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}

@keyframes home-car-up-An {
  from {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
}
.home-car-down li {
  -webkit-animation: home-car-down 12s linear infinite;
  animation: home-car-down 12s linear infinite;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.home-car-down li:nth-child(2) {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.home-car-down li:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

@keyframes home-car-down {
  from {
    opacity: 1;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.home-day-cloud-an2, .home-day-cloud-an3 {
  -webkit-animation: home-day-cloud-an2 40s linear infinite;
  animation: home-day-cloud-an2 40s linear infinite;
  opacity: 0;
}

.home-day-cloud-an3 {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

@keyframes home-day-cloud-an2 {
  from {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.home-moon-light-an img {
  -webkit-animation: home-moon-light-an 4s ease-in-out infinite;
  animation: home-moon-light-an 4s ease-in-out infinite;
  opacity: 1;
}

@keyframes home-moon-light-an {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.home-my-an {
  -webkit-animation: home-my-an 1s ease-in 1 forwards;
  animation: home-my-an 1s ease-in 1 forwards;
  opacity: 0;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

@keyframes home-my-an {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(20px, 8px);
    transform: translate(20px, 8px);
  }
}
.about-my-photo-bg-an {
  -webkit-animation: turn-An 8s linear infinite;
  animation: turn-An 8s linear infinite;
}

.about-my-box-an {
  -webkit-animation: home-car-down 8s linear infinite;
  animation: home-car-down 8s linear infinite;
}

.skills-my-box-an {
  -webkit-animation: home-car-down 16s linear infinite;
  animation: home-car-down 16s linear infinite;
}

.works-my-box-an {
  -webkit-animation: home-car-down 20s linear infinite;
  animation: home-car-down 20s linear infinite;
}

.home.active .about-contant-wrapper, .about.active .about-contant-wrapper, .skills.active .about-contant-wrapper {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -webkit-transition: all 2s 1 ease-in-out;
  transition: all 2s 1 ease-in-out;
}
