@keyframes turn-An
    from
        -webkit-transform: rotateZ(0deg) translate3d(0,0,0)
        transform: rotateZ(0deg) translate3d(0,0,0)
    to
        -webkit-transform: rotateZ(-360deg) translate3d(0,0,0)
        transform: rotateZ(-360deg) translate3d(0,0,0)


