@media only screen and (max-width: 1440px)
    /* home */ 
    .home-city-box
        height: 300px
        .home-bluecity,.home-city,.about-city,.about-cloud,.about-bcity,.skills-seabed,.skills-seasand,.skills-coral,.works-mountain,.works-b-tree,.contact-wave
            width: 1440px
            height: auto
            position: absolute
            left: calc(50% - 720px)
            img
                width: 100%
    .home-air-wrapper
        margin-bottom: 0px
    .big-title-box
        img
            max-width: 240px
    .home-my-box
        width: 8rem
        top: 30%
    .home-road-box
        .home-ZebraRoad
            width: 300px
    .home-day-car,.home-day-car2,.home-night-car,.home-night-car2
        &.home-day-car
            ul
                li
                    .home-car-up01
                        max-width: 5.4rem
                    .home-scooter-up02
                        max-width: 2.4rem
                    .home-car-up03
                        max-width: 4.6rem
                    .home-car-up04
                        max-width: 5.4rem
        &.home-day-car2
            ul
                li
                    .home-car-down01
                        max-width: 5.6rem
                    .home-car-down02
                        max-width: 8rem
                    .home-scooter-down03
                        max-width: 3rem
        &.home-night-car
            ul
                li
                    .home-car-up01
                        max-width: 7.4rem
                    .home-scooter-up02
                        max-width: 3.8rem
                    .home-car-up03
                        max-width: 6.2rem
                    .home-car-up04
                        max-width: 7.4rem
        &.home-night-car2
            ul
                li
                    .home-car-down01
                        max-width: 8.6rem
                    .home-car-down02
                        max-width: 10rem
                    .home-scooter-down03
                        max-width: 4.2rem
    /* menu */
    .menu-contant-box
        .menu-text
            ul
                li
                    h5
                        font-size: $h6
                        span
                            font-size: $mobile-l-title
        .fb-icon,.ig-icon
            a
                svg
                    width: 3.4rem
    /* about */
    .about-city-box
        height: 240px
        .about-city,.about-cloud,.about-bcity
            width: 1440px
            left: calc(50% - 720px)
    .about-contant-box
        margin: 1rem 6rem 0 6rem
        .about-img
            width: 16rem
        .about-text
            p
                font-size: 16px
                span
                    font-size: $h4
    .title-box
        .title-text
            h4
                font-size: $h5
        .title-img
            max-width: 7.6rem
            &.title-img-c
                max-width: 10rem
    .about-my-box
        img
            width: 7.2rem
    .about-people-box
        left: 0px
        top: -60px
        img
            width: 2rem
    .about-road-box
        padding-top: 1.4rem
    .about-AirCamera-box
        svg
            width: 10rem
    /* skills */      
    .skills-sea-box
        height: 340px
        .skills-seabed,.skills-seasand,.skills-coral
            width: 1440px
            left: calc(50% - 720px)
            &.skills-coral
                img
                    width: 10rem
            &.skills-seasand
                bottom: 0
            &.skills-seabed
                bottom: 6rem
        .skills-my-box
            top: 4rem
            img
                width: 8.8rem
    .skills-contant-box
        margin-top: 1rem
        padding: 0 6rem
    .skills-design-box,.skills-code-box
        .skills-design-text,.skills-code-text
            h3
                font-size: $h4
            .design-text,.code-text
                li
                    font-size: 16px
        .skills-design-img,.skills-code-img
            .design-svg,.code-svg
                img
                    width: 6rem
            .skills-bubble
                width: 12.6rem
    .skills-tortoise-box
        img
            width: 6.8rem
    /* work */ 
    .works-mountain-wrapper
        .works-mountain-box
            .works-my-box
                img
                    width: 4rem
    .web-text
        p
            font-size: 16px
    .works-web-box,.works-vision-box,.works-ui-box
        .works-web,.works-vision,.works-ui
            &.col3
                margin-bottom: calc(1.5rem * 3 / 2)
    .works-bird-box
        width: 1.4rem
        bottom: 2.2rem
    .tabs
        margin-bottom: 2.4rem
    /* contact */
    .contact-air-box
        .home-day-box,.home-night-box
            height: 280px
            .home-day-cloud,.home-night-star
                width: 1440px
                height: auto
                position: absolute
                left: calc(50% - 720px)
                top: 0
    .contact-contant-box
        .contant-box
            padding: 1rem
            .my-contact-box
                a
                    font-size: 16px
        .contact-myhitballoon
            max-width: 5.2rem
        .contact-myhitballoon-line
            max-width: 8rem
    .contact-hitballoon-left,.contact-hitballoon-right
        &.contact-hitballoon-left
            width: 4rem
        &.contact-hitballoon-right
            width: 2.8rem
    .contact-FishsIslands-box
        .contact-islands-box
            .contact-islands
                // width: 28rem
                // height: 9.4rem
                width: 30rem
                height: 10rem
                .contact-islands-about,.contact-islands-work
                    &.contact-islands-work
                        margin-top: -30px 
                        margin-right: 10px
    .contact-fishs-box,.contact-TurtleMedusa-box
        &.contact-TurtleMedusa-box
            ul
                li
                    &:nth-of-type(2)
                        img
                            &:nth-of-type(1)
                                width: 3.6rem
    .contact-contant-box
        .fb-icon,.ig-icon
            a
                svg
                    width: 2.8rem
    .contact-sea-box
        .contact-wave
            width: 1000px
            left: calc(50% - 500px)
            .contact-wave-right,.contact-wave-left
                max-width: 15rem
@media only screen and (max-width: 1366px)
    /* home */
    .home-air-wrapper
        margin: 2rem 0
    /* about */
    .about-contant-box
        margin: 2rem 6rem
    /* skills */
    .skills-contant-box
        margin: 2rem 0
    /* works */
    .works-mountain-wrapper
        .works-mountain-box
            height: 260px
    /* contact */
    .contact-contant-container
        padding-bottom: 0
    .contact-air-box
        padding: 4rem 0 6rem 0
@media only screen and (max-width: 1200px)
    .wrapper
        padding: 0 1.6rem
    /* skills */
    .skills-design-box,.skills-code-box
        .skills-design-img,.skills-code-img
            .skills-bubble
                width: 11rem
@media only screen and (max-width: 1024px)
    /* home */
    .home-air-wrapper
        margin: -2rem 0 0 0
    .home-my-box
        width: 7rem
        top: 40%
    .home-road-box
        .home-ZebraRoad
            width: 240px
    /* about */
    .about-contant-box
        margin: 1rem 6rem
        .about-img
            width: 30%
        .about-text
            padding-left: 2.8rem
            max-width: 70%
    .about-city-box
        .about-bcity
            width: 1100px
            left: calc(50% - 550px)
    .about-my-box
        img
            width: 6.2rem
    /* skills */
    .skills-contant-box
        margin: 1rem 0
    .skills-sea-box
        height: 220px
        .skills-my-box
            top: 0
            img
                width: 6.8rem
        .skills-seabed,.skills-seasand,.skills-coral
            &.skills-coral
                width: 100%
                left: 0
                justify-content: flex-end
                img
                    &:nth-of-type(1)
                        display: none
    .skills-fishs-wrapper
        img
            width: 15rem
    .skills-tortoise-box
        img
            width: 5.2rem
    .skills-contant-box
        display: flex
        flex-direction: column
    .skills-design-box,.skills-code-box
        width: 100%
        justify-content: center
        &.skills-design-box
            padding-right: 15%
        &.skills-code-box
            padding-left: 15%
            padding-top: 2rem
    .code-svg
        p
            font-size: 12px
    /* works */
    .works-mountain-wrapper
        .works-mountain-box
            height: 260px
    .works-animal-box,.works-b-tree,.works-tree
        width: 1000px
        left: calc(50% - 500px)
    .works-mountain-wrapper
        .works-mountain-box
            .works-my-box
                img
                    width: 3.4rem
    .web-text 
        h4
            font-size: $h5
    .tabs
        a
            font-size: $h6
            padding: 0.3rem 1rem
    /* works */
    .contact-air-box
        padding: 0 0 4rem 0
    /* 關掉左右箭頭 */
    .arrow-pages-left,.arrow-pages-right
        display: none 
@media only screen and (max-width: 768px)
    /* jquery.pagepiling */ 
    #pp-nav.nav-position
        left: 0px
        right: 0px
        display: block
        max-width: 180px
        margin: auto
    /* home */
    .home-air-wrapper
        margin: 4rem 0
    .home-my-box
        left: 200px
    .about-contant-box
        flex-direction: column
        margin: 2rem 6rem 0 6rem
        .about-text
            padding-left: 0
            max-width: 100%
        .about-img
            width: 14.2rem
            margin-bottom: 2rem
    .about-AirCamera-box
        top: 2rem
    .about-road-box
        padding-bottom: 6rem
    /* skills */
    .skills-contant-box
        margin: 4rem 0
    .skills-design-box,.skills-code-box
        &.skills-code-box
            padding-top: 3.2rem
    .skills-sea-box
        .skills-seabed,.skills-seasand,.skills-coral
            &.skills-seasand
                bottom: -10px   
            &.skills-seabed
                bottom: 6rem
    /* works */ 
    .works-web-box,.works-vision-box,.works-ui-box
        .works-web,.works-vision,.works-ui
            &.col3
                &.col2
                    width: calc(100%/2 - 1rem)
                    margin-left: calc(1rem * 2 / 1)
                    margin-bottom: calc(2rem * 2 / 1)
                    &:nth-child(2n+1)
                        margin-left: 0
    /* contact */
    .contact-air-box
        padding: 0
    .contact-contant-container
        padding-bottom: 0px
    .contact-contant-wrapper
        padding: 4rem 0
    .contact-contant-box
        .contant-box
            padding: 2rem
    .contact-copyright
        padding: 1.8rem 0rem
    .contact-FishsIslands-box,.contact-hitballoon-left,.contact-hitballoon-right
        display: none
    .m-contact-FishsIslands-box
        display: block
        padding: 0 1.6rem

@media only screen and (max-width: 640px)
    /* header */
    .menu-icon-wrapper
        .menu-icon
            width: 48px
            height: 48px 
            img
                padding: 14px 10px
    .logo-wrapper
        a
            width: 140px
            height: 55px
    /* menu */
    .menu-bgw-box
        display: none
    .menu-contant-box
        width: 100%
        .menu-text
            ul
                li
                    h5
                        span
                            font-size: $mobile-l-title
                            line-height: 1.5
    .menu-img-down
        ul
            .menu-hitballoon
                width: 5.4rem
    /* home */
    .home-city-box
        .home-bluecity,.home-city,.about-city,.about-cloud,.about-bcity,.skills-seabed,.skills-seasand,.skills-coral,.works-mountain,.works-b-tree,.contact-wave
            width: 1200px
            left: calc(50% - 600px)
    .home-air-wrapper
        margin: 0
    .big-title-box
        img
            max-width: 200px
    .home-road-box,.about-road-box,.about-seasand-bg,.works-mountain-bg
        .home-ZebraRoad
            left: 20px
    .home-my-box
        left: 20%
    .home-day-box,.home-night-box
        height: 240px
    /* about */
    .about-contant-box
        margin: 2.4rem 2rem 0rem 2rem
        .about-img
            margin-bottom: 1.8rem
        .about-text
            max-width: 80%
            p
                span
                    font-size: $h5
    .about-AirCamera-box
        top: 6.8rem
        svg
            width: 9.4rem
    .title-box
        .title-img
            max-width: 7rem
            &.title-img-c
                max-width: 9.4rem
    /* skills */
    .skills-contant-box
        margin: 2.4rem 0
    .skills-design-box,.skills-code-box
        &.skills-design-box
            padding-right: 0px
        &.skills-code-box
            padding-left: 10%
        .skills-design-text,.skills-code-text
            h3
                font-size: $h5
    .skills-sea-box
        .skills-seabed,.skills-seasand,.skills-coral
            width: 1200px
            left: calc(50% - 500px)
            &.skills-seabed
                bottom: 5.2rem
    .skills-fishs-wrapper
        display: none
    .skills-tortoise-box
        right: 4rem
        max-width: 6.4rem
    /* works */
    .works-mountain-wrapper
        .works-mountain-box
            height: 220px
    .works-web-box,.works-vision-box,.works-ui-box
        .works-web,.works-vision,.works-ui
            &.col3
                &.col2
                    margin-left: calc(0.6rem * 2 / 1)
                    margin-bottom: calc(1.2rem * 2 / 1)
    /* works */
    .contact-contant-wrapper
        padding: 0 0 1rem 0
    .contact-copyright
        padding: 0.2rem 0 0 0
    .contact-contant-box
        .contact-myhitballoon
            max-width: 4rem
@media only screen and (max-width: 414px)
    /* header */
    .header-box
        height: 4rem
    /* menu */
    .menu-contant-box
        .menu-text
            ul
                li
                    padding-bottom: 1rem
    /* home */
    .home-city-box
        height: 260px
    .home-my-box
        width: 6.4rem
    /* about */
    .about-contant-wrapper,.skills-contant-wrapper,.works-title-wrapper
        padding-top: 2rem
    .about-contant-box
        .about-text
            max-width: 100%
        .about-img
            margin-bottom: 1rem
    .about-AirCamera-box
        top: 8rem
        right: 2rem
    .about-people-box
        display: none
    /* skills */
    .skills-contant-box
        padding: 0
    .skills-tortoise-box
        top: 6.8rem
        right: 1rem
    .skills-design-box,.skills-code-box
        &.skills-code-box
            padding-left: 0
            padding-top: 2rem
        .skills-design-img,.skills-code-img
            .skills-bubble
                width: 9.4rem
            .design-svg,.code-svg
                img
                    max-width: 4.8rem
    .skills-sea-box
        .skills-seabed,.skills-seasand,.skills-coral
            &.skills-coral
                img
                    width: 7.4rem
    /* works */
    .works-b-tree,.works-tree,.works-animal-box
        display: none
    .works-web-box,.works-vision-box,.works-ui-box
        padding: 0 1.4rem
        .works-web,.works-vision,.works-ui
            &.col3
                &.col2
                    &.col1
                        width: calc(100%/1 - 0px)
                        margin-left: calc(0px * 1 / 1)
                        margin-bottom: 1rem
    .works-mountain-box
        .home-bluecity,.home-city,.about-city,.about-cloud,.about-bcity,.skills-seabed,.skills-seasand,.skills-coral,.works-mountain,.contact-wave
            width: 1000px
            left: calc(50% - 500px)
    .m-works-b-tree
        max-width: 280px
        margin: 0 auto
        position: relative
        bottom: -30px
        opacity: .6
    .section-contant-container
        padding-bottom: 4rem
    .tab-content
        margin-bottom: 0
    .loadMore
        margin: 1rem auto 2rem auto
    /* contact */
    .contact-contant-wrapper
        padding: 1.2rem 0
    .m-contact-FishsIslands-box
        padding: 0
    .contact-contant-box
        max-width: 70%
        .contant-box
            padding: 1.2rem
    .my-contact-box
        ul
            li
                a
                    word-wrap: break-word
        
@media only screen and (max-width: 375px)
@media only screen and (max-width: 320px)						