@media only screen and (max-width: 1440px)
    /* home */ 
    .home-city-box
        height: 300px
        .home-bluecity,.home-city,.about-city,.about-cloud,.about-bcity,.skills-seabed,.skills-seasand,.skills-coral,.works-mountain,.works-b-tree,.contact-wave
            width: 1440px
            height: auto
            position: absolute
            left: calc(50% - 720px)
            img
                width: 100%
    .home-air-wrapper
        margin-bottom: 0px
    .big-title-box
        img
            max-width: 240px
    .home-my-box
        width: 7rem
    .home-road-box
        .home-ZebraRoad
            width: 300px
    .home-day-car,.home-day-car2,.home-night-car,.home-night-car2
        &.home-day-car
            ul
                li
                    .home-car-up01,.home-car-up04
                        max-width: 7.8rem
                    .home-scooter-up02
                        max-width: 4rem
                    .home-car-up03
                        max-width: 6.8rem

        &.home-night-car
            ul
                li
                    .home-car-up01,.home-car-up04
                        max-width: 7.8rem
                    .home-scooter-up02
                        max-width: 4rem
                    .home-car-up03
                        max-width: 6.8rem
        &.home-night-car2
            ul
                li
                    .home-car-down01
                        max-width: 8.8rem
                    .home-car-down02
                        max-width: 10rem
                    .home-scooter-down03
                        max-width: 4.8rem



    /* about */
    .about-city-box
        height: 200px
        .about-bcity
            width: 1000px
            left: calc(50% - 500px)
    .about-contant-box
        margin: 1rem 6rem 0 6rem
        .about-img
            width: 16rem
        .about-text
            p
                font-size: 16px
                span
                    font-size: $h4
    .title-box
        .title-text
            h4
                font-size: $h5
        .title-img
            max-width: 7.6rem
            &.title-img-c
                max-width: 10rem
    .about-my-box
        img
            width: 7.2rem
    .about-people-box
        left: 0px
        img
            width: 2.4rem
    .about-road-box
        padding-top: 2rem
    .about-AirCamera-box
        svg
            width: 10rem
    /* skills */      
    .skills-sea-box
        height: 300px
        .skills-coral
            img
                width: 10rem
        .skills-seabed
            bottom: 8rem
        .skills-my-box
            top: 0px
            img
                width: 8.8rem
    .skills-contant-box
        margin-top: 1rem
        padding: 0 6rem
    .skills-design-box,.skills-code-box
        .skills-design-text,.skills-code-text
            h3
                font-size: $h4
            .design-text,.code-text
                li
                    font-size: 16px
        .skills-design-img,.skills-code-img
            .design-svg,.code-svg
                img
                    width: 6rem
            .skills-bubble
                width: 12.6rem
    .skills-tortoise-box
        img
            width: 6.8rem
    /* work */ 
    .works-mountain-wrapper
        .works-mountain-box
            height: 260px
            .works-my-box
                img
                    width: 4rem
    .works-animal-box
        width: 1600px
        left: calc(50% - 800px)
        .works-beer,.works-LeopardCat
            margin-right: 2rem
            width: 12rem
            &.works-LeopardCat
                margin-left: 6rem
                width: 5rem
    .web-text
        h4
            font-size: $h5
        p
            font-size: 16px
    .works-bird-box
        width: 1.8rem
    /* contact */
    .contact-contant-container
        padding-bottom: 3.2rem   
    .contact-contant-box
        .contant-box
            padding: 1rem
            .my-contact-box
                li
                    font-size: 16px
        .contact-myhitballoon
            max-width: 5.8rem
        .contact-myhitballoon-line
            max-width: 8rem
    .contact-FishsIslands-box
        .contact-islands-box
            .contact-islands
                width: 32rem
                height: 10.8rem
    .contact-hitballoon-left,.contact-hitballoon-right
        width: 4.4rem
        &.contact-hitballoon-right
            width: 3.4rem
    .contact-contant-box
        .fb-icon,.ig-icon
            a
                svg
                    width: 2.8rem













@media only screen and (max-width: 1200px)	
@media only screen and (max-width: 1024px)
@media only screen and (max-width: 768px)
    /* jquery.pagepiling */ 
    #pp-nav.nav-position
        left: 0px
        right: 0px
        display: block
        max-width: 180px
        margin: auto
    /* home */ 
    /* works */ 
    .works-web-box,.works-vision-box,.works-ui-box
        .works-web,.works-vision,.works-ui
            &.col3
                &.col2
                    width: calc(100%/2 - 1rem)
                    margin-left: calc(1rem * 2 / 1)
                    margin-bottom: calc(2rem * 2 / 1)
                    &:nth-child(2n+1)
                        margin-left: 0
@media only screen and (max-width: 414px)
@media only screen and (max-width: 375px)
@media only screen and (max-width: 320px)						