
/* Custom CSS */
body,html
    font-family: 'Noto Sans TC', sans-serif ,"微軟正黑體"

body.lock
    overflow: hidden
    position: fixed
    height: 100%
    width: 100%
h1,h2,h3,h4,h5,h6,p
    letter-spacing: 2px
    line-height: 2
.wrapper
    max-width: 1200px
    margin: 0 auto
    width: 100%
.clearfix 
    clear: both
.font-en
    font-family: 'Lobster', cursive
    font-weight: bold
.day
    background: $day
.night
    background: $night

/* loading */
#loading-box
    position: fixed
    z-index: 1000
    width: 100vw
    height: 100vh
    background: #73cacf
    opacity: 1
    -webkit-transition: opacity 1s 0s /* For Safari 3.1 to 6.0 */
    transition: opacity 1s 0s
/* loading end */
/* header */
header
    position: absolute
    width: 100%
.header-container
    padding: 10px 20px
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 200
    position: relative
.logo-wrapper,.menu-icon-wrapper
    display: block
    filter: drop-shadow(0px 6px 0px rgba(85,150,202,.8))
    a,.menu-icon
        display: flex
        flex-direction: column
        justify-content: center
        background: url(../images/icon/logo-bg.svg) no-repeat 
        // 下方為logo尺寸範圍
        width: 180px
        height: 78px
        background-size: contain
        img
            z-index: 120
            width: 100%
            padding: 10px 18px 0px 18px
.menu-icon-wrapper
    .menu-icon
        display: inline-block
        background: url(../images/icon/menu.svg) no-repeat 
        width: 68px
        height: 68px 
        img
            padding: 20px 10px
            transform: rotateZ(90deg) translate3d(0,0,0)
            -webkit-transform: rotateZ(90deg) translate3d(0,0,0)
            -webkit-transition: all 500ms ease-in-out
            transition: all 500ms ease-in-out
.header-box
    width: 100%
    height: 6rem
/* header end*/
/* menu */
.menu-bgw-box
    position: fixed
    z-index: 100
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: $white
    opacity: .75
    -webkit-transform: translate3d(100%,0,0)
    transform: translate3d(100%,0,0)
    -webkit-transition: all 500ms ease-in-out
    transition: all 500ms ease-in-out
    &.active
        -webkit-transform: translate3d(0,0,0)
        transform: translate3d(0,0,0)
        -webkit-transition: all 500ms ease-in-out
        transition: all 500ms ease-in-out
.menu-contant-box
    position: fixed
    z-index: 120
    top: 0
    right: -1px
    width: 25rem
    height: 100vh
    display: block
    -webkit-transform: translate3d(100%,0,0)
    transform: translate3d(100%,0,0)
    -webkit-transition: all 350ms ease-in-out
    transition: all 350ms ease-in-out
    &.active
        -webkit-transform: translate3d(0,0,0)
        transform: translate3d(0,0,0)
        -webkit-transition: all 350ms 200ms cubic-bezier(.32,-0.05,.44,1.41)
        transition: all 350ms 200ms cubic-bezier(.32,-0.05,.44,1.41)
    >div
        position: absolute
    .menu-img-up,.menu-img-down
        width: 7.75rem
        margin-top: -1px
        img
            width: 100%
    .menu-img-down
        width: 10rem
        bottom: -1px
        right: 0px
        ul
            position: relative
            .menu-hitballoon
                opacity: 0
                position: absolute
                width: 8rem
                bottom: 20px
                right: 20px
                &.animate__fadeInUp
                    &:root
                        --animate-delay: 2s
    .menu-text
        height: 100vh
        ul
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            padding: 0px 2.5rem
            li
                padding-bottom: 1.5rem
                h5
                    letter-spacing: 2px
                    color: $white
                    font-size: $h5
                    line-height: 1.2
                    span
                        font-size: $h2
                        font-weight: normal
            .menu-pages
                a
                    text-decoration: none
                    display: flex
                    -webkit-transform: translateX(0px)
                    transform: translateX(0px)
                    -webkit-transition: all 0.2s ease-in-out
                    transition: all 0.2s ease-in-out
                    &.fa-arrow-circle-right
                        &:before
                            display: none
                        &:after
                            content: "\f0a9"
                            font-size: $h5
                            color: $white
                            margin-left: 0.5rem
                            margin-top: 1rem
                    &:hover
                        -webkit-transform: translateX(20px)
                        transform: translateX(20px)
                        -webkit-transition: all 0.2s ease-in-out
                        transition: all 0.2s ease-in-out
                        h5
                            color: $yellow
                        &.fa-arrow-circle-right
                            &:after
                                color: $yellow
            .menu-line  
                img
                    width: 12rem
            .menu-community
                h5
                    padding-bottom: 0.8rem
                .fb-icon
                    display: inline-block
                .ig-icon
                    float: left

//以contact共用
.fb-icon,.ig-icon
    a
        svg
            width: 3.8rem
            fill: $white
            margin-right: .8rem
            -webkit-transform: translateY(0px)
            transform: translateY(0px)
            -webkit-transition: all 0.2s ease-in-out
            transition: all 0.2s ease-in-out
            &:hover
                fill: $yellow
                -webkit-transform: translateY(-5px)
                transform: translateY(-5px)
                -webkit-transition: all 0.2s ease-in-out
                transition: all 0.2s ease-in-out
/* menu end */
/* nav */
.line-dotted
    border-top: 2px dotted #4D3224
    opacity: .5
    position: relative
    bottom: 15px
/* nav end */
/* home */
.section
    overflow: hidden
    width: 100%
    margin: 0 auto
    position: relative
.big-title-box
    display: flex
    justify-content: center
    position: absolute
    bottom: 80px
    width: 100%
    z-index: 10
    img
        max-width: 280px
        filter: drop-shadow(0px 6px 0px rgba(85,150,202,.8))
.home-air-wrapper,.home-city-wrapper
    margin-top: -2rem
    position: relative
.home-air-wrapper
    margin-bottom: 1rem
.home-city-wrapper
    margin-top: -40px
//日夜 remove/add class
.home-day-box,.home-night-box,.home-day-car,.home-day-car2,.home-night-car,.home-night-car2
    display: none
    &.active
        display: block
.home-day-box,.home-night-box,.home-city-box,.about-city-box
    width: 100%
    height: 300px
    margin: 0 auto
    position: relative
    .home-day-sun,.home-night-moon-box,.home-day-cloud,.home-night-star
        width: 1400px
        height: auto
        position: absolute
        left: calc(50% - 700px)
        top: 0
        img
            width: 100%
    .home-day-sun,.home-night-moon
        top: 100px
        padding: 0 0 0 60px
        img
            width: 70px
    .home-night-moon,.home-moon-light
        position: absolute
        right: 0px
        height: 100px
        z-index: 5
    .home-moon-light
        right: -20px
        top: 90px
        z-index: 0
        img
            width: 100px
//home-day-cloud 重複雲朵
.home-day-cloud-an2
    ul
        &:nth-of-type(2)
            position: relative
            left: -90%
            height: 300px
.home-city-box,.about-city-box,.skills-sea-box,.works-mountain-box,.contact-sea-box
    height: 400px
    .home-bluecity,.home-city,.about-city,.about-cloud,.about-bcity,.skills-seabed,.skills-seasand,.skills-coral,.works-mountain,.works-b-tree,.contact-wave
        width: 2000px
        height: auto
        position: absolute
        left: calc(50% - 1000px)
        bottom: 0
        img
            width: 100%
    .home-bluecity-up,.about-cloud-up
        z-index: 10
    .home-city-up,.about-city-up
        z-index: 15
        bottom: -2px
.home-my-box
    position: absolute
    top: 45%
    z-index: 20
    left: 240px
    width: 8.8rem
    img
        width: 100%
.home-road-box,.about-road-box,.about-seasand-bg,.works-mountain-bg
    position: relative
    .home-ZebraRoad
        background: url(../images/home/home-ZebraRoad.svg) no-repeat
        width: 320px
        height: 120px
        background-size: contain
        position: absolute
        left: 140px
//home-day-car,home-night-car車
.home-day-car,.home-day-car2,.home-night-car,.home-night-car2
    position: absolute
    z-index: 15
    top: -70px
    ul
        position: relative
        height: 120px
        width: 2000px
        li
            opacity: 0
            position: absolute
            bottom: 0
            width: 100%
            .home-car-up01,.home-car-up04
                max-width: 6.6rem
            .home-scooter-up02
                max-width: 3rem
            .home-car-up03
                max-width: 4.6rem
    &.home-day-car2,&.home-night-car2
        top: -35px
        ul
            li
                opacity: 0
                .home-car-down01
                    max-width: 7.6rem
                .home-car-down02
                    max-width: 10rem
                .home-scooter-down03
                    max-width: 3.6rem
    &.home-night-car
        ul
            li
                .home-car-up01,.home-car-up04
                    max-width: 8.8rem
                .home-scooter-up02
                    max-width: 4.8rem
                .home-car-up03
                    max-width: 7.4rem
    &.home-night-car2
        ul
            li
                .home-car-down01
                    max-width: 9rem
                .home-car-down02
                    max-width: 12rem
                .home-scooter-down03
                    max-width: 5rem
.arrow-pages-wrapper
    position: fixed
    top: 50vh
    left: 0        
    z-index: 10
    width: 100%
    justify-content: space-between
    display: flex
    padding: 0 20px  
    .arrow-pages-left,.arrow-pages-right
        a
            display: block
            &:hover
                .arrow-pages-style
                    path
                        fill: $yellow
            svg
                width: 35px
                filter: drop-shadow(0px 3px 0px rgba(77, 50, 36, 1))
                path
                    fill: #fff
                    stroke: #4d3224
                    stroke-linecap: round
                    stroke-linejoin: round
                    stroke-width: 2px
.pp-scrollable
    .arrow-pages-wrapper
        top: 50%
/* home end */  
/* about */ 
.about-contant-wrapper,.skills-contant-wrapper,.works-title-wrapper
    position: relative
    display: flex
    flex-wrap: wrap
    padding: 1.5rem 0
    z-index: 10
.title-box
    display: flex
    justify-content: center
    position: relative
    width: 100%
    .title-line-dashed
        border-top: 1.5px dashed $white
        width: 2.5rem
        position: relative
        top: 50%
        margin: 0 0.8rem
    .title-text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        h4
            font-size: $h4
            color: $white
            line-height: 2
            &:before
                padding-right: .4rem
    .title-img
        max-width: 8.6rem
        img
            width: 100%
        &.title-img-c
            max-width: 12rem
.about-AirCamera-box,.skills-tortoise-box
    position: absolute
    right: 4rem
    svg
        width: 12rem  
.about-contant-box
    margin: 2rem 6rem 0 6rem
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    .about-img
        width: 18rem
        position: relative
        display: flex
        align-items: center
        .about-my-photo
            position: absolute
            top: 5px
            z-index: 5
        img
            width: 100%
    .about-text
        padding-left: 1rem
        max-width: 40rem
        p
            font-size: $l-p
            color: $white
            span
                font-size: $h3
                margin-bottom: 1rem
.about-road-box
    padding-top: 3.4rem
.about-my-box,.about-people-box
    position: absolute
    top: -40px
    z-index: 20
    left: 0px
    width: 100%
    opacity: 0
    img
        width: 8.8rem
.about-people-box
    top: -90px
    z-index: 15
    left: -10rem
    display: flex
    justify-content: flex-end
    padding-right: 16rem
    opacity: 1
    img
        width: 2.8rem
.about-city-box
    margin-top: -2rem
    height: 300px
    .about-bcity
        width: 1400px
        left: calc(50% - 700px)
    .about-cloud
        img
            filter: drop-shadow(0px -6px 0px rgba(85,150,202,.8))
/* about end */
/* skills */ 
.skills-tortoise-box
    right: 10rem
    img
        width: 8.7rem
.skills-fishs-wrapper
    position: absolute
    width: 100%
    top: 10%
    img
        width: 20rem
.skills-contant-box
    margin-top: 4rem
    width: 100%
    display: flex
.skills-design-box,.skills-code-box
    width: 50%
    display: flex
    align-items: center
    flex-wrap: wrap
    .skills-design-img,.skills-code-img
        position: relative
        .design-svg,.code-svg
            position: absolute
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding-bottom: 2rem
            padding-right: 1rem
            img
                width: 8rem
            p
                color: $white
                margin-top: 10px
                &:after
                    content: ">"
                    display: inline-block 
                &:before
                    content: "<"
                    display: inline-block
        .design-svg
            padding-left: 2rem
            padding-top: 1rem
        .skills-bubble
            width: 14rem
    .skills-design-text,.skills-code-text
        color: $white
        h3
            font-size: $h3
            &:before
                content: ""
                display: inline-block
                border-top: 1.5px dashed $white
                width: 20px
                position: relative
                bottom: 0.5rem
                margin-right: 10px
        .design-text,.code-text
            padding-left: 2rem
            li
                font-size: $l-p
                letter-spacing: 2px
                line-height: 2
        .code-text
            display: flex
            flex-wrap: wrap
.skills-code-box
    padding-top: 4rem
.skills-sea-box
    position: relative
    bottom: -5px
    .skills-seabed
        bottom: 8rem
    .skills-seasand
        bottom: -1.2rem
        z-index: 10
    .skills-coral
        display: flex
        justify-content: space-between
        bottom: 4rem
        z-index: 10
        img
            width: 16rem
    .skills-my-box
        position: absolute
        width: 100%
        z-index: 10
        top: 4rem
        img
            width: 10rem
/* skills end */ 
/* works */
.works-bird-box
    width: 2.5rem
    position: absolute
    left: calc(50% + 6rem)
    bottom: 2.2rem
    z-index: 5
.works-mountain-wrapper
    margin-top: -6rem
    .works-mountain-box
        height: 300px
        position: relative
        bottom: -6px
        .skills-seasand
            bottom: 0px
            z-index: 10
        .works-my-box
            position: absolute
            width: 100%
            z-index: 20
            bottom: 0.8rem
            img
                width: 5rem
.section-contant-container
    position: relative
    z-index: 20
    top: 0px
//tab style
.tab-wrapper
    position: relative
    z-index: 10
.tabs
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 2.8rem
    a
        display: flex
        color: $white
        font-size: $l-p
        margin: 0px 0.4rem
        padding: 4px 16px
        border: 1px solid $white
        cursor: pointer
        background-color: $green
        border-radius: 20px
        &:hover,&.active
            cursor: pointer
            background-color: $white
            color: $green
.tab-content
    >div
        display: none
        font-size: 14px
        color: #666
//works style
.tab-content
    margin-bottom: 4rem
.works-web-box,.works-vision-box,.works-ui-box
    width: 100%
    display: block
    overflow: hidden
    font-size: 0
    .works-web,.works-vision,.works-ui
        display: none
        &.col3
            width: calc(100%/3 - 1rem)
            margin-left: calc(1rem * 3 / 2)
            margin-bottom: calc(2rem * 3 / 2)
            text-align: center
            &:nth-child(3n+1)
                margin-left: 0
        a
            text-decoration: none
            &:hover
                .web-text
                    opacity: 0.6
.web-img
    width: 100%
    height: auto
    overflow: hidden
    img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%
.web-text
    margin-top: .5rem
    color: $white
    h4
        font-size: $h4
    p
        font-size: $l-p
        line-height: 1.5
        &:before
            content: ""
            background: url(../images/icon/icon-web.svg) no-repeat
            display: inline-block
            background-size: contain
            width: 22px
            height: 20px
            margin-right: 10px
            vertical-align: middle
.loadMore
    width: 200px
    color: #fff
    display: block
    text-align: center
    margin: 0.5rem auto 4rem auto
    padding: 10px
    border-radius: 20px
    border: 1px solid #fff
    background-color: $green
    text-decoration: none
    font-size: 16px
    -webkit-transition: all 500ms ease-in-out
    transition: all 500ms ease-in-out
    &:hover
        color: $green
        background-color: #fff
.works-animal-box
    width: 1800px
    height: auto
    position: absolute
    left: calc(50% - 900px)
    top: 0
    display: flex
    justify-content: space-between
    .works-beer,.works-LeopardCat
        width: 12.8rem
        margin-top: 26rem
        img
            width: 100%
        &.works-LeopardCat
            width: 5.8rem
            margin-top: 10rem
            margin-left: 10rem
/* works end */ 
/* contact */
.contact-contant-container
    padding-bottom: 6rem          
.contact-air-box
    position: relative
    z-index: 5
    .home-day-box,.home-night-box
        position: absolute
        opacity: .8
        height: 340px
        top: 20%
        .home-day-cloud,.home-night-star
            width: 1920px
            height: auto
            position: absolute
            left: calc(50% - 960px)
            top: 0
.contact-contant-wrapper
    margin: 0 auto
    display: flex
    justify-content: center
.contact-hitballoon-left,.contact-hitballoon-right
    position: relative
    width: 5.4rem
    margin: 0 4rem
    z-index: 10
    img
        position: absolute
        width: 100%
        top: 40%
    &.contact-hitballoon-right
        width: 4.4rem
        img
            position: absolute
            bottom: 20%
            top: initial
.contact-contant-box
    max-width: 24rem
    .contact-myhitballoon,.contact-myhitballoon-line
        max-width: 6.8rem
        margin: 0 auto
        img
            width: 100%
        &.contact-myhitballoon-line
            max-width: 12rem
            padding-bottom: 4px
            margin-top: -16px
    .contant-box
        position: relative
        z-index: 10
        width: 100%
        background-color: rgba(198,233,255,.3)
        border-radius: 0.2rem
        padding: 20px 16px
        &:before
            content: ''
            display: block
            border-radius: 0.2rem
            border: 3.2px solid rgb(198,233,255)
            position: absolute
            top: 0px
            bottom: 0px
            left: 0px
            right: 0px
            margin: -8px
            z-index: -1
        .title-box,.my-contact-box
            width: 100%
        .my-contact-box
            margin-bottom: .5rem
            li
                width: 100%
                text-align: center
                font-size: $l-p
                line-height: 2.4
                color: $white
                letter-spacing: 1.5px
                &::before
                    margin-right: 10px
        .my-community-box
            width: 100%
            .community-title
                display: flex
                width: 100%
                align-items: center
                justify-content: center
                .title-line-dashed
                    width: 33.3%
                    border-top: 1.5px dashed $white
                h6
                    padding: 0 1rem
                    color: $white
                    font-size: $h6
            .community-icon
                margin-top: 1rem
                width: 100%
                display: flex
                justify-content: center
.contact-sea-wrapper
    &.day-contact-sea
        background: url(../images/contact/day-contact-sea.svg) repeat-x
        width: 100%
        height: 200px
    &.night-contact-sea
        background: url(../images/contact/night-contact-sea.svg) repeat-x
        width: 100%
        height: 200px
.contact-sea-box
    height: auto
    position: relative
    .contact-wave
        opacity: .4
        top: 0px
        bottom: initial
        display: flex
        justify-content: space-between
        width: 1440px
        left: calc(50% - 720px)
        .contact-wave-left,.contact-wave-right
            max-width: 18rem
            img
                width: 100%
.contact-copyright
    padding: .2rem 0px
    position: fixed
    z-index: 10
    width: 100%
    bottom: 0px
    background: #5596CA
    p
        color: $white
        width: 100%
        text-align: center
        font-size: $s-p


.contact-FishsIslands-box
    display: flex
    justify-content: center
    margin: 0 auto
    .contact-islands-box
        .contact-islands
            background: url(../images/contact/contact-islands.svg) no-repeat
            width: 38rem
            height: 12.8rem
            background-size: contain
            // margin: 0 auto
            display: flex
            justify-content: center
            .contact-islands-about,.contact-islands-work
                width: 46%
                margin-top: -20px
                margin-left: 10px
                img
                    width: 100%
                .islands-about-title,.islands-works-title
                    width: 4rem
                    margin: -50px auto 0px auto
                    &.islands-works-title
                        position: relative
                        right: 32px
                &.contact-islands-work
                    width: 54%
                    margin-top: -40px 
                    margin-right: 20px
    .contact-fishs-box,.contact-TurtleMedusa-box
        display: flex
        align-items: center
        margin: 0 1.4rem
        ul
            margin-top: 4rem
            li
                width: 1rem
                float: right
                &:nth-of-type(2)
                    width: 2.8rem
                    float: left
                    padding-top: 1.6rem
                    opacity: 0.8
                img
                    width: 100%
        &.contact-TurtleMedusa-box
            margin: 0 .4rem
            ul
                display: flex
                li
                    float: initial
                    width: 2.4rem
                    padding-top: 3.4rem
                    &:nth-of-type(2)
                        width: 4rem
                        padding-top: 0rem
                        margin-left: 1rem 
                        img
                            &:nth-of-type(1)
                                margin-bottom: .5rem



/* contact end */ 
